@{
    ViewBag.Title = "Employees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <button type="button" class="btn btn-primary" id="btnAddEmployee">Add Employee</button>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        getEmployee();
    })
    $('#btnAddEmployee').click(function() {
        document.location = '@Url.Action("AddEmployee","Employee")';
    });
    function getEmployee() {
        $.ajax({
            url: 'Employee/GetEmployee',
            type: 'GET',
            success: function(data, textStatus, xhr) {

            },
            error: function(data) {
            }
        });
    }
</script>